<footer class="bf-footer mt-5">

    <div class="container py-4">

        <div class="row">

            <div class="col-md-4">

                <h5 class="d-flex align-items-center gap-2">
                <i class="bi bi-robot"></i>
                BotForge
            </h5>

                <p class="text-light-emphasis">

                    Create AI-powered chatbots for your business
                    in minutes without writing code.

                </p>

            </div>


            <div class="col-md-4">

                <h5>
                    Quick Links
                </h5>

                <ul class="list-unstyled">

                    <li>

                        <a
                            href="/"
                            class="footer-link"
                        >
                            Home
                        </a>

                    </li>

                    <li>

                        <a
                            href="{% url 'pricing' %}"
                            class="footer-link"
                        >
                            Pricing
                        </a>

                    </li>

                    <li>

                        <a
                            href="{% if user.is_authenticated %}{% url 'dashboard' %}#demo-bots{% else %}{% url 'login' %}?next={% url 'dashboard' %}#demo-bots{% endif %}"
                            class="footer-link"
                        >
                            Demo Bots
                        </a>

                    </li>

                </ul>

            </div>


            <div class="col-md-4">

                <h5>
                    Legal
                </h5>

                <ul class="list-unstyled">

                    <li>

                        <a
                            href="#"
                            class="footer-link"
                        >
                            Privacy Policy
                        </a>

                    </li>

                    <li>

                        <a
                            href="#"
                            class="footer-link"
                        >
                            Terms & Conditions
                        </a>

                    </li>

                </ul>

            </div>

        </div>


        <hr>


        <div class="text-center">

             © {% now "Y" %} BotForge | All Rights Reserved

        </div>

    </div>

</footer>