<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">

    <div class="container">

        <a
            class="navbar-brand fw-bold"
            href="/"
        >
            BotForge
        </a>


        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
        >

            <span class="navbar-toggler-icon"></span>

        </button>


        <div
            class="collapse navbar-collapse"
            id="navbarContent"
        >

            <ul class="navbar-nav me-auto">

                {% comment %} <li class="nav-item">

                    <a
                        class="nav-link"
                        href="/"
                    >
                        Home
                    </a>

                </li> {% endcomment %}

               

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% if user.is_authenticated %}{% url 'dashboard' %}#demo-bots{% else %}{% url 'login' %}?next={% url 'dashboard' %}#demo-bots{% endif %}"
                    >
                        Demo Bots
                    </a>

                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'bot_list' %}">
                    My Bots
                </a>
            </li>
             <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'pricing' %}"
                    >
                        Pricing
                    </a>

                </li>

            </ul>


            <div class="d-flex align-items-center gap-2">

                {% if user.is_authenticated %}

                    <span class="text-light me-2">

                        Welcome,
                        {{ user.username }}

                    </span>

                    <a href="{% url 'dashboard' %}" class="btn btn-outline-light">Dashboard</a>

                    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                {% else %}

                    <a
                        href="{% url 'login' %}"
                        class="btn btn-outline-light"
                    >
                        Login
                    </a>

                    <a
                        href="{% url 'register' %}"
                        class="btn btn-primary"
                    >
                        Get Started
                    </a>

                {% endif %}

            </div>

        </div>

    </div>

</nav>